@import "variables.scss";

// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower
@import 'font-awesome/scss/font-awesome';

html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
    background: none repeat scroll 0% 0% $gray-dark;
}

.row-text{
    background-color: #fff;
    
    h1{
        margin-top: 0px !important;
        margin-bottom: 25px !important;
    }
    
    .col-text{
        font-family: "Trebuchet MS",Arial;
        font-size: 16px;
        font-size-adjust: none;
        font-stretch: normal;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        padding: 30px 40px !important;
        border-right: solid 2px $background-color;
    }
    
    .col-nav{
        padding: 15px 15px !important;
    }
}

.btn{
    border-radius: 0 !important;
}

.btn-facebook{
    @include button-variant(#fff, #4769A2, #4769A2);
}

.animal .thumbnail{
    border-radius: 0 !important;
    padding: 0px !important;

    .favorite-link{
        position: absolute;
        right: 25px;
        top: 10px;
        z-index: 3;
        color: #fff;
    }

/*    .favorite-link:hover{
        .favorited{
            color: $background-color !important;
        }
        
        .unfavorited{
            color: #F26868 !important;
        }
    }*/
    
    .favorite-link .favorited{
        color: #F26868 !important;
    }

    .favorite-link .unfavorited{
        color: $background-color !important;
    }

    .caption{
        h1,h2,h3,h4{
            margin-top: 10px !important;
            margin-bottom: 10px !important;
        }
    }

    .actions{

        width: 100% !important;

        .btn{
            width: 50% !important;
        }
    }
}

.panel.panel-filter{
    border: none !important;
    border-radius: 0 !important;

    .panel-heading{
        border-bottom: solid 2px $background-color;
    }
}

nav{

    background-image: url(../images/nav.jpg) !important;
    border: none !important;
    margin-bottom: 0px !important;

    ul{
        li{
            a.inverse{
                color: #fff !important;
            }

            a.inverse:hover{
                color: #999 !important;
            }
        }
    }

    .navbar-brand{
        color: #fff !important;
    }

    .navbar-brand:hover{
        color: #999 !important;
    }
}

.container-view{
    padding-top: 20px;
    background: none repeat scroll 0% 0% $background-color;
    min-height: 300px;
}

/*Footer*/
footer{
    position: relative;
    z-index: 19;
    background: none repeat scroll 0% 0% $gray-dark;
    color: #959598;

    .footer-holder{
        max-width: 1206px;
        margin: 0px auto;
        overflow: hidden;
        position: relative;
        padding: 32px 0px 34px;
    }

    .footer-links{
        li{
            a{
                color: #999;
                text-decoration: none;
            }
            a:hover{
                color: #FFF;
                background-color: transparent;
            }
        }
    }

    .footer-social-links{
        .google{
            color: #DD4B39; 
        }
        .facebook{
            color: #425F9C;
        }
        .instagram{
            color: #406F95;
        }
        .github{
            color: #000;
        }
    }

}

/*Filtro principal*/ 
.filter-main{
    background-color: $gray-dark;
    padding: 10px;
    margin: 0px 0px 10px;
    text-align: center;
    .form-group,input[type="submit"]{
        width: 33%;
    }
    .form-control{
        width: 100%;
    }

}

@media screen and (max-width: $screen-xs-max) {
    .filter-main{
        .form-group, input[type="submit"]{
            width: 100% !important;
        }
    }
}

/*Filtro lateral*/
.panel-title{
    a{
        cursor: pointer;
    }
}


/*
 * Off Canvas
 */
@media screen and (max-width: $screen-sm-max) {

    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -50%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -50%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 50%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 50%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%; /* 6 columns */
    }
}

@import './pet.scss';