.pet-header{
    margin-bottom: 20px;
    border-bottom: solid 1px #cfcfcf;
    padding-bottom: 10px;
}

.pet-header-info{
    h1{
        margin-top: 0px !important;
    }
}

.pet-info-holder{
    padding: 0px 0px 10px 21px !important;
}

.pet-breed-list{
    list-style: none;
    padding: 0px !important;

    li{
        margin-bottom: 3px;
    }
}