$icon-font-path: "../../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "../../bower_components/font-awesome/fonts";
$gray-dark: lighten(#000, 20%) !default;
$navbar-inverse-bg: $gray-dark !default;
$grid-float-breakpoint: 992px;