<div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-12 col-md-9">
        <div class="row">
            <div class="col-xs-12" >
                <form class="form-inline filter-main" ng-submit="filter()" >
                    <div class="form-group">
                        <label class="sr-only" for="main-type">Tipo de animal</label>
                        <select  class="form-control" id="main-type"  ng-model="type" name="type" ng-options="type.description for type in enums.type" ng-change="updateBreeds()">
                            <option value="">Tipo de animal</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="main-breed">Raça preferida</label>
                        <select  class="form-control" id="main-breed" ng-model="breed" name="breed" ng-options="breed.name for breed in breeds" ng-change="onChangeBreed()">
                            <option value="">Raça preferida</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="main-order">Ordenar Por</label>
                        <select id="main-order" class="form-control" ng-model="sorting" name="sorting" ng-options="sortingOption.description for sortingOption in enums.sorting">
                            <option value="">Ordenar Por</option>
                        </select>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Buscar" />
                </form>
            </div>
        </div>
        <div class="row" ng-if="loader">
            <div class="col-xs-12 text-center">
                <i class="fa fa-spin fa-refresh fa-5x"></i>
            </div>
        </div>
        <div ng-show="!loader" class="row">
            <div class="animal col-xs-12 col-sm-6 col-md-4" ng-repeat="pet in pets.resources">
                <div class="thumbnail">
                    <img class="img-responsive" ng-src="{{pet.profileImageThumb}}"  alt="{{ pet.name}}">
                    <div class="caption text-center">
                        <h4>{{ pet.name}}</h4>
                        <p>
                            <a ui-sref="pet({id: pet.id})" class="btn btn-primary" >Ver Perfil</a>
                            <a class="btn btn-danger" ng-click="addFavoritePet(pet)" ng-if="(isLoggedIn() && !isFavorited(pet))">
                                <i ng-class="{'fa-refresh fa-spin': pet.favoritedLoader, 'fa-heart': !pet.favoritedLoader, 'fa' : true}"></i>
                                Favoritar
                            </a>
                            <a class="btn btn-danger" ng-click="removeFavoritePet(pet)" ng-if="(isLoggedIn() && isFavorited(pet))">
                                <i ng-class="{'fa-refresh fa-spin': pet.favoritedLoader, 'fa-heart-o': !pet.favoritedLoader, 'fa' : true}"></i>
                                Desfavoritar
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <pagination 
                    scroll-to-top
                    ng-model="$parent.page" 
                    ng-change="updatePets()"
                    total-items="pets.count" 
                    max-size="5" 
                    class="pagination-sm" 
                    boundary-links="true" 
                    previous-text="Anterior"
                    next-text="Próximo"
                    last-text="Último"
                    first-text="Primeiro"
                    rotate="false" ></pagination>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        <div class="panel-group filter-side" id="filter-side-group">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a data-toggle="collapse" data-parent="#filter-side-group" data-target="#filters-basic">Filtros Básicos</a>
                    </div>
                </div>
                <div id="filters-basic" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <form ng-submit="filter()">
                            <div class="form-group">
                                <label class="sr-only" for="main-size">Tamanho</label>
                                <select  class="form-control" id="main-size"  ng-model="size" name="size" ng-options="size.description for size in enums.size">
                                    <option value="">Tamanho</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="main-age">Idade</label>
                                <select  class="form-control" id="main-age"  ng-model="age" name="age" ng-options="age.description for age in enums.age">
                                    <option value="">Idade</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="main-gender">Gênero</label>
                                <select  class="form-control" id="main-gender"  ng-model="gender" name="gender" ng-options="gender.description for gender in enums.gender">
                                    <option value="">Gênero</option>
                                </select>
                            </div>
                            <input type="submit" class="btn btn-primary btn-block" value="Buscar" />
                            <button type="button" class="btn btn-default btn-block" ng-click="clearFilters()">Limpar filtros</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>