<div class="pet-container">
    <div class="row pet-header">
        <div class="col-xs-12">
            <div class="pull-left">
                <a class="btn btn-facebook btn-lg" share="{{ ('/pet/' + pet.id)}}">
                    <i class="fa fa-share-alt hidden-sm hidden-md hidden-lg"></i>
                    <i class="fa fa-facebook hidden-xs"></i>
                    <span class="hidden-xs">Compartilhar</span>
                </a>
            </div>
            <div class="pull-right">
                <button tooltip="{{ (!isLoggedIn()) ? 'Você precisa estar logado para favoritar' : ''}}" ng-class="{'btn btn-danger btn-lg': true, 'disabled event-all': !isLoggedIn() }" ng-click="toggleFavoritePet()">
                    <span ng-class="{'favorited': isFavorited(), 'unfavorited' : !isFavorited()}" ><i ng-class="{'fa-refresh fa-spin': pet.favoritedLoader, 'fa-heart': !pet.favoritedLoader && !isFavorited(), 'fa-heart-o': !pet.favoritedLoader && isFavorited(), 'fa' : true}"></i></span>
                    <span class="hidden-xs">{{ (isFavorited()) ? 'Desfavoritar' : 'Favoritar'}}</span>
                </button>
                <button tooltip="{{ (!isLoggedIn()) ? 'Você precisa estar logado para adotar um pet' : ''}}" ng-class="{'btn btn-success btn-lg': true, 'disabled event-all': !isLoggedIn() }" ng-click="openAdoption()">
                    Adotar
                </button>
            </div>
            <div class="clear-fix"></div>
        </div>
    </div>
    <div class="row pet-row">
        <div class="col-xs-12 col-sm-6" >
            <img ng-if="pet.images.length < 1 && pet.id" alt="{{ pet.name}}"  src="http://placehold.it/614x320/F0EFEB&text=Sem%20fotos" style="margin:auto; height: auto !important; width: 100% !important;">
            <carousel interval="3000" disable-animation="true">
                <slide ng-repeat="slide in pet.images" >
                    <img ng-src="{{slide.image}}" style="margin:auto; height: auto !important; width: 100% !important;">
                </slide>
            </carousel>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="pet-header-info">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="pull-left">
                            {{ pet.name}}
                        </h1>
                        <a back class="hidden-xs btn btn-link pull-right">
                            <i class="fa fa-angle-double-left"></i>
                            Voltar aos resultados
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="well">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-4">
                                    <strong>
                                        <i class="fa fa-map-marker fa-lg"></i>
                                        Localização
                                    </strong>
                                    <div class="pet-info-holder">{{ pet.organization.address.city.name}}</div>
                                    <strong>
                                        <i class="fa fa-tag fa-lg"></i>
                                        Identificador
                                    </strong>
                                    <div class="pet-info-holder">{{ pet.id}}</div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4">
                                    <strong>
                                        <i class="fa fa-tag fa-lg"></i>
                                        Endereço
                                    </strong>
                                    <div class="pet-info-holder">{{ pet.organization.address.city.name + ', ' + pet.organization.address.city.state.acronym}}</div>
                                    <div class="pet-info-holder">CEP {{ pet.organization.address.postalCode}}</div>
                                    <div class="pet-info-holder">Rua {{ pet.organization.address.street}}</div>
                                    <div class="pet-info-holder">Número {{ pet.organization.address.number}}</div>
                                    <div class="pet-info-holder">Bairro {{ pet.organization.address.district}}</div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4">
                                    <button tooltip="{{ (!isLoggedIn()) ? 'Você precisa estar logado para fazer um pergunta' : ''}}" ng-class="{'btn btn-default btn-block-xs': true, 'disabled event-all': !isLoggedIn() }"  ng-click="openQuestion()">
                                        <i class="fa fa-comment"></i>
                                        Enviar Pergunta
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-8">
                        <h1>História {{ ((pet.genderId === 1) ? 'do' : 'da') + ' ' + pet.name}}</h1>
                        <div ng-bind-html="pet.history" ng-if="pet.history"></div>
                        <div ng-if="!pet.history">
                            A Organização não disponibilizou nenhuma informação adicional, 
                            caso queira saber mais sobre {{ ((pet.genderId === 1) ? 'o' : 'a') + ' ' + pet.name}} <a ng-click="openQuestion()" style="cursor: pointer;">envie uma 
                                pergunta</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th colspan="2" class="text-center">
                                    Características
                                </th>
                            </tr>
                            <tr>
                                <td>Raça(s)</td>
                                <td>
                                    <ul class="pet-breed-list">
                                        <li ng-repeat="breed in pet.breeds">
                                            <span class="label label-info" >{{ breed.name}}</span>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Local</td>
                                <td>{{ pet.organization.address.city.name + ', ' + pet.organization.address.city.state.acronym}}</td>
                            </tr>
                            <tr>
                                <td>Gênero</td>
                                <td>{{ pet.gender}}</td>
                            </tr>
                            <tr>
                                <td>Faixa de idade</td>
                                <td>{{ pet.age}}</td>
                            </tr>
                            <tr>
                                <td>Tamanho</td>
                                <td>{{ pet.size}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="questionModal.html">
<div class="modal-header">
    <button type="button" class="close" ng-click='cancel()'><span>&times;</span><span class="sr-only">Close</span></button>
    <h3 class="modal-title">Faça uma pergunta sobre {{ ((pet.genderId === 1) ? 'o' : 'a') + ' ' + pet.name}}</h3>
</div>
<form role="form" novalidate ng-submit="send()" name='qform'>
    <div class="modal-body">
        <div alert type="{{alert.type}}" close="removeAlert($index)" ng-repeat="alert in alerts">
            {{alert.message}}
        </div>
        <div class="form-group">
            <label for="questionTitle">Assunto</label>
            <input name="subject" ng-model='subject' type="text" class="form-control" id="questionTitle" required >
            <div ng-show="qform.subject.$dirty && qform.subject.$invalid" class="help-block">
                <span ng-show="qform.subject.$error.required">Diga qual o assunto da sua pergunta.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="questionMessage">Mensagem</label>
            <textarea name="message" ng-model="message" class="form-control max-width" id="questionMessage" required></textarea>
            <div ng-show="qform.message.$dirty && qform.message.$invalid" class="help-block">
                <span ng-show="qform.message.$error.required">O que você quer perguntar?.</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-lg" ng-disabled="qform.$invalid" ng-if="!sended" >{{ (sending) ? 'Enviando' : 'Enviar';
            }}</button>
        <button type="button" class="btn btn-success btn-lg" ng-if="sended" ng-click="cancel()">Fechar</button>
    </div>
</form>
</script>
<script type="text/ng-template" id="adoptionModal.html">
<div class="modal-header">
    <button type="button" class="close" ng-click='cancel()'><span>&times;</span><span class="sr-only">Close</span></button>
    <h3 class="modal-title">
        Solicite a adoçao {{ ((pet.genderId === 1) ? 'de' : 'da') + ' ' + pet.name}}
    </h3>
    <small>
        deixe uma mensagem ou entre em contato com a orgainzação
    </small>
</div>
<form role="form" novalidate ng-submit="send()" name='aform'>
    <div class="modal-body">
        <div alert type="{{alert.type}}" close="removeAlert($index)" ng-repeat="alert in alerts">
            {{alert.message}}
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h4>Contato</h4>
                <hr>
            </div>
            <div class="col-xs-12 col-sm-4">
                <strong>
                    <i class="fa fa-map-marker fa-lg"></i>
                    Localização
                </strong>
                <div class="pet-info-holder">{{ pet.organization.address.city.name}}</div>
                <strong>
                    <i class="fa fa-tag fa-lg"></i>
                    Identificador
                </strong>
                <div class="pet-info-holder">{{ pet.id}}</div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <strong>
                    <i class="fa fa-tag fa-lg"></i>
                    Endereço
                </strong>
                <div class="pet-info-holder">{{ pet.organization.address.city.name + ', ' + pet.organization.address.city.state.acronym}}</div>
                <div class="pet-info-holder">CEP {{ pet.organization.address.postalCode}}</div>
                <div class="pet-info-holder">Rua {{ pet.organization.address.street}}</div>
                <div class="pet-info-holder">Número {{ pet.organization.address.number}}</div>
                <div class="pet-info-holder">Bairro {{ pet.organization.address.district}}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h4>Mensagem</h4>
                <hr>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="adoptionTitle">Assunto</label>
                    <input name="subject" ng-model='subject' type="text" class="form-control" id="adoptionTitle" required >
                    <div ng-show="aform.subject.$dirty && aform.subject.$invalid" class="help-block">
                        <span ng-show="aform.subject.$error.required">De um título para sua menssagem.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="adoptionMessage">Mensagem</label>
                    <textarea name="message" ng-model="message" class="form-control max-width" id="adoptionMessage" required></textarea>
                    <div ng-show="aform.message.$dirty && aform.message.$invalid" class="help-block">
                        <span ng-show="aform.message.$error.required">Deixe uma mensagem para a organização.</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-lg" ng-disabled="aform.$invalid" ng-if="!sended" >{{ (sending) ? 'Enviando' : 'Enviar';
            }}</button>
        <button type="button" class="btn btn-success btn-lg" ng-if="sended" ng-click="cancel()">Fechar</button>
    </div>
</form>
</script>
